
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree', sans-serif;
}

.blog_card{
    background-color: hsl(0, 0%, 100%);
    max-width: 360px;
    padding: 20px;
    border-radius: 18px;
    border: 2px solid hsl(0, 0%, 80%);
    box-shadow:8px 8px 0px hsl(0,0%,7%);
    
}
.hero img{
    width: 100%;
    border-radius: 10px;
}
.tag{
    display:inline-block;
    margin:10px 0;
    padding:6px 12px;
    background:hsl(47,88%,63%);
    border-radius:5px;
    font-weight:bold;
}
.hero h1:hover{
    color:hsl(47,88%,63%);
    cursor:pointer;
}

.hero h1{
    font-size: 22px;
    margin: 15px 0px;
}
.hero #date{
    color: hsl(0, 0%, 42%);
}


.abt-post {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.abt-post h4{
    font-size: 15px;
}
.abt-post img{
    width:35px;
    height:35px;
    border-radius:50%;
}